node_modules
dist
coverage
.env
.env.*
!.env.example
.cache/
.turbo/
.vite/
.next/
.eslintcache
*.tsbuildinfo
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-store/
.npm/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
